// Colors
$black: #222222;

// misc

$radius: 6px;
$cubic-bezier: cubic-bezier(0.8, 1, 0.17, 1);
$transition: all 0.4s $cubic-bezier;
$transition-long: all 0.8s $cubic-bezier;
$box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 10px;
$light-box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
$wrapperWidth: 1100px;
